body {
    background-color: #1A1423;
    font-family: Georgia;
}
/******HEADER CONTAINS LOGO AND BACKGROUND**********/
#header {
    text-align: center;
    width: 100%;
    background-color: #eacdc2;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../images/background.png");
}

#logo {
    width: 450px;
    display: block;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

#header > p {
    color: #eacdc2;
}

/************* OpenDyslexic-Regular TOGGLE STYLING**********/
#toggle-title {
    color: #EACDC2;
    position: absolute;
}

/* The switch - the box around the slider */
.switch {
    position: absolute;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-top: 3%;
    margin-left: 2%;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #EACDC2;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #774c60;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #B75D69;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #B75D69;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

/******************* DRUM STYLING *************************/
#drum-header {
    margin-top: 38%;
}

#drumPlaylistContainer {
    margin-top: 35%;
    text-align: center;
    color: #eacdc2;
}

.drum-gallery {
    display: inline-block;
}

#drums-buttons-container {
    border: solid #eacdc2 2px;
    background-color: #372549;
    box-shadow: 5px 5px 5px #1A1423 inset;
    border-radius: 8%;
    text-align: center;
    width: 80%;
    margin: auto;
}

#drum-button-header {
    color: #eacdc2;
    text-align: center;
}

/* styling for each button */
.drum-button {
    /* Sizing  */
    width: 200px;
    height: 200px;
    /* positioning */
    display: inline-block;
    margin: 2%;
    /* Box styling */
    border: #EACDC2 2px solid;
    color: #1A1423;
    background-color: #eacdc2;
    border-radius: 5%;
    /* Box shadow */
    box-shadow: 5px 5px 5px #774c60 inset;
}

.drum-text {
    font-size: 45px;
    border: solid #eacdc2 2px;
    background-color: #774C60;
    margin: auto;
    margin-top: 5%;
    border-radius: 5%;
    height: 180px;
    width: 180px;
}
/**************PIANO STYLING*****************/
#piano {
    margin-top: -5%;
    text-align: center;
}

#piano > h1 {
    color: #eacdc2;
}

#border-box {
/* border: solid black 2px;
border-bottom: none;
background-color: #eacdc2; */
width: 75%;
margin-left: auto;
margin-right: auto;
}

.white-key {
    display: inline-block;
    border: solid black 2px;
    background-color: #eacdc2;
    height: 250px;
    font-size: 16px;
    width: 9%;
    margin-right: 10px;
    margin-left: -5px;
    border-radius: 5%;
}

.black-key {
    display: inline-block;
    border: solid black 2px;
    background-color: black;
    color: white;
    margin-left: -55px;
    margin-right: -10px;
    width: 4%;
    height: 225px;
    border-radius: 5%;

}

#r {
    margin-left: -15px;
}